<!-- index.html -->

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bytespaces</title>
  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="public/styles.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Javascript -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

  <!-- navigation bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand"> Bytespaces</a>
    </div>
  </nav>

  <!-- main body of our application -->
  <div class="container" id="WebpageTrends">
    <div class="col-sm-3 col-sm-offset-1 col-sm-push-8">
      <div class="card hovercard">
        <div class="cardheader">

        </div>
        <div class="avatar">
            <img alt="" src="http://lorempixel.com/100/100/people/9/">
        </div>
        <div class="info">
            <div class="title">
                <a target="_blank" href="http://scripteden.com/">Script Eden</a>
            </div>
            <div class="desc">Passionate designer</div>
            <div class="desc">Curious developer</div>
            <div class="desc">Tech geek</div>
        </div>
        <div class="bottom">
            <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-danger btn-sm" rel="publisher"
               href="https://plus.google.com/+ahmshahnuralam">
                <i class="fa fa-google-plus"></i>
            </a>
            <a class="btn btn-primary btn-sm" rel="publisher"
               href="https://plus.google.com/shahnuralam">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                <i class="fa fa-behance"></i>
            </a>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
      <div class="trending" v-for="Webpage in Webpages">
        <div class="text-center">
          <div class="row">
            <div class="col-sm-9">
              <h3 class="pull-left">{{Webpage.title}} <small>({{Webpage.commentCount}} comments)</small></h3>
            </div>
            <div class="col-sm-3">
              <h4 class="pull-right">
              <small><em>{{Webpage.date}}</em></small>
              </h4>
            </div>
          </div>
        </div>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum ex eget porttitor sollicitudin. Morbi cursus tempor placerat. Pellentesque suscipit tortor in orci pretium, ac facilisis ex pretium. Fusce hendrerit orci diam, vitae tristique quam porttitor eu. Donec ligula orci, ultricies in sagittis non, porta sed lorem. Aenean interdum posuere mattis. Curabitur dignissim dictum quam, vitae malesuada velit tristique a. </p> -->
        <div>
          <div class="more label"><a v-bind:href=Webpage.url>More Detail</a></div> 
          <div class="tags">
            <span class="label label-default" style="margin-left: 2px; margin-right: 2px;" v-for="keyword in Webpage.keywords">{{keyword}} </span> 
          </div>    
        </div> 
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <!-- JS -->
  <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>