.bytespaces-comment { 
  width: 100px !important;
  z-index: 10000;
  position: relative;
  display: inline-block;
}

.bytespaces-input {
  width: 100%;
  min-height: 80%;
  z-index: 10000;
  resize: vertical;
  overflow: auto;
  border: 2px solid #033649;
  margin: auto;
}

.bytespaces-button { 
  width: 85%;
  text-align: center;
  border: 2px solid #248F8D;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #248F8D;
  box-shadow: none;
} 

.bytespaces-button:hover {
  background-color: #248F8D;
  opacity: 87%;
  box-shadow: none;
}

.bytespaces-overlay {
  position: absolute;
  min-width: 100%;
  color: #555152;
  opacity: 50%;
  background: #555152;
  z-index: 99999;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #242729;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px; 

}
.sidenav li {
    text-decoration: none;
    font-size: 1.1em;
    color: #F0E2A4;
    display: block;
    transition: 0.3s;
    margin-top:3%;
    margin-bottom:3%;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 18px;
}

.sidenav textarea {
    width: 85%;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px; 
}

.username {
  color: #FFAB98;
}

#comment-list {
  height: 100%;
  overflow-y: auto;
}

.date {
  color: #EFF3CD;
  font-size: 0.8em !important;
}

.dbtn {
  color: #248F8D !important;
}