.bytespaces-comment { 
  width: 100px !important;
  z-index: 10000;
  position: relative;
  display: inline-block;
}

.bytespaces-input {
  width: 100%;
  min-height: 80%;
  z-index: 10000;
  resize: vertical;
  overflow: auto;
  border: 2px solid #033649;
  margin: auto;
}

.bytespaces-button { 
  width: 85%;
  text-align: center;
  border: 2px solid #033649;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

.bytespaces-overlay {
  position: absolute;
  min-width: 100%;
  color: #555152;
  opacity: 50%;
  background: #555152;
  z-index: 99999;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #494D4B;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 25px;
}

.sidenav textarea {
    width: 85%;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px; 
}